.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

@media (max-height: 600px){
  .App{
    margin-top: 5%;
    background-color: black;
  }
}

.input-app {
  margin: 5px;  
  width: 499px;
  height: 50px;
  padding-left: 10px;
  font-size: 16px;
  background-color: #e7e7e7;
  border-radius: 8px;
  border: none;
}

a{
  text-decoration: none;
  color: violet;
  font-size: 12px;
  margin-bottom: 5px;
}